@model IndexViewModel
@{
    ViewData["Title"] = "Search";
}

<h3>Search</h3>

<p>Search for a given term in stories submitted to Hacker News per day.</p>

<form asp-controller="Home" asp-action="Trend" method="get">
    <label for="search">Enter a search term:</label>
    <input name="id" type="text" min="2" id="search" />
    <button type="submit">Search</button>
</form>

