@{
    Layout = "_RootLayout";
}
<nav>
    <a asp-area="" asp-controller="Home" asp-action="Index">Hacker News Trends</a>
</nav>

<div class="container">
    @RenderBody()
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", false);
}