.remark {
    font-style: italic;
    font-size: 0.9em;
    color: #AAA;
    margin-bottom: 15px;
    margin-top: -10px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
}

nav {
    width: 100%;
    height: 72px;
    background-color: #0984e3;
    margin-bottom: 30px;
}

    nav > a:first-child {
        color: #FEFEFE;
        font-size: 3.2rem;
        text-decoration: none;
        line-height: 72px;
        margin-left: 25px;
        font-weight: bolder;
    }

    #percent {
        font-size: 10px;
        color: #AAA;
        line-height: 36px;
        height: 36px;
        padding: 0 5px;
        margin-top: 0.5rem;
    }

p {
    margin-bottom: 1.2rem;
}

.setting-checkbox-label {
    line-height: 12px;
    font-weight: normal;
    font-style: italic;
    color: #666;
    display: block;
    margin-top: -5px;
}

#allwords {
    position: relative;
    top: 2px;
}

#plot {
    min-width: 600px;
    width: 90%;
    height: 600px;
}

#add-term-container {
    margin-right: 10%;
}

#add-term-container>label:first-child {
    display: inline-block;
}

#skiplastlabel {
    display: inline-block;
    margin-left: 20px;
    color: #AAA;
}